.sidebar {
  width: 240px;
  background: #1f2937;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 6px;
  font-size: 14px;
}

.sidebar a:hover,
.sidebar a.active {
  background: #374151;
  color: #fff;
}

/* layout geral */
.app {
  display: flex;
}

.content {
  margin-left: 240px;
  width: calc(100% - 240px);
  box-sizing: border-box;
}
